:root {
  --dark-color: #19283f;
  --main-color: #33d1cc;
  --btn-bg: #ff3150;
  --btn-color: #ffc400;
  --section-color: #eff7fa;
}
body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
.main-btn {
  background-color: var(--btn-bg);
  color: var(--btn-color);
  padding: 0.5rem 1rem;
}
.main-btn:hover {
  color: var(--btn-color);
}
.main-title::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 2px;
  background-color: var(--main-color);
  right: 120px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
/* Start Navbar */
.navbar {
  background-color: var(--dark-color);
}
.navbar a img {
  height: 60px;
}
.navbar .navbar-nav .nav-link {
  color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--main-color);
}
.navbar .search {
  border-left: 1px solid var(--main-color);
}
.navbar .search  {
  color: var(--main-color);
  cursor: pointer;
}
.navbar .navbar-toggler {
  color: white;
  font-size: 25px;
  border-color: white;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"] {
  border-color: var(--main-color);
}
/* End Navbar */
/* Start Landing */
.landing {
  background-color: var(--dark-color);
  min-height: calc(100vh - 72px);
}
/* End Landing */
/* Start Features  */
.features .icon-holder {
  height: 200px;
}
.features .icon-holder .number {
  font-size: 12rem;
  left: 50%;
  transform: translateX(-50%);
  color: var(--section-color);
}
.features .icon-holder .icon {
  color: var(--main-color);
  left: 50%;
  transform: translateX(-50%);
}
.features .feat h4 {
  color: var(--btn-color);
}
/* End Features  */
/* Start Our Work */
.our-work {
  background-color: var(--section-color);
}
.our-work ul .active {
  background-color: var(--btn-bg);
  color: var(--btn-color);
}
.our-work ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.our-work ul li:not(.active):hover {
  color: var(--btn-bg);
}
.our-work .box {
  padding: 5px;
  position: relative;
  overflow: hidden;
}
.our-work .box::before {
  content: attr(data-work);
  background-color: rgba(51, 209, 204, 0.612);
  color: white;
  position: absolute;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  font-size: 1.5rem;
  transform: translateX(calc(-100% - 5px));
}
.our-work .box:hover:before {
  transform: translateX(0);
}
/* End Our Work */
/* Start Stuff */
.description {
  width: 500px;
}
/* End Stuff */
/* Start Team */
.team {
  background-color: var(--section-color);
}
.team h2 {
  color: var(--btn-color);
}
.team .box h4 {
  background-color: var(--main-color);
}
/* End Team */
/* Start Project */
.project {
  background-color: var(--dark-color);
}
/* End Project */
/* Start Subscribe */
.subscribe {
  background-color: var(--btn-color);
}
.subscribe input[type="text"] {
  border: none;
  border-bottom: 1px solid white;
}
.subscribe input[type="text"]:focus {
  outline: none;
}
.subscribe input::placeholder {
  color: white;
}
.subscribe input[type="submit"] {
  background-color: var(--dark-color);
  color: var(--btn-color);
}
/* End Subscribe */
/* Start Footer */
.footer {
  background-color: var(--dark-color);
}
.footer .info img {
  height: 60px;
}
.footer .copyright > span {
  color: var(--main-color);
}
.footer .copyright div span {
  color: var(--btn-color);
}
.footer .links ul li {
cursor: pointer;
}
.footer .about ul li {
  cursor: pointer;
  }
.footer .main-btn {
  color: white;
}
.footer .contact ul li i {
line-height: 16px;
}
.footer .facebook {
  background-color: #1877f2;
}
.footer .twitter {
  background-color: #1da1f2;
}
.footer .linkedin {
  background-color: #0077b5;
}
.footer .youtube {
  background-color: #ff0000;
}
/* End Footer */
